target{
    padding: 30px;
    text-align: right;
}

 h2{
     padding: 20px;
     text-align: center;
     font-size: 30px;
     border-style: solid;
 }
nav{
   float: right;
    padding: 25px;
}

 img {
 margin: 20px;
 }